* {
    margin:0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292F36;
    height: 200px;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(231, 231, 231);
}
body {
    background: #4ECDC4;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 25em;
}
.cell {
    height: 130px;
    background-color: #F7FFF7;
    border: 1px solid black;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
}
.cell:hover {
    background-color: #d7e0d7;
}
