* {
    margin:0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292F36;
    height: 200px;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(231, 231, 231);
}
body {
    background: #4ECDC4;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 25em;
}
.cell1, .cell2, .cell3,
.cell4, .cell5, .cell6,
.cell7, .cell8, .cell9 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #F7FFF7;
    border: 1px solid black;
    text-align: center;
    font-size: 90px;
}
.cell1:hover, .cell2:hover,
.cell3:hover, .cell4:hover,
.cell5:hover, .cell6:hover,
.cell7:hover, .cell8:hover,
.cell9:hover {
    background-color: #d7e0d7;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
}

